<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}CGG Conférence{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% stylesheets '@CGGConferenceBundle/Resources/public/css/bootstrap/*.css' filter="cssrewrite" output='css/stylesheets.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
        {% endstylesheets %}
        {% stylesheets '@CGGConferenceBundle/Resources/public/css/*.css' filter="cssrewrite" output='css/stylesheets.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
        {% endstylesheets %}
    </head>
    <body>
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
        <div class="jumbotron header-home">
            <h1>CGG Conférence</h1>
            {% image '@CGGConferenceBundle/Resources/public/images/Conference.png'  output="images/Conference.png" %}
                <img src="{{ asset_url }}"  alt="Conference" class="imageConf">
            {% endimage %}
            <div class="log">
                {% if app.user %}
                    <a href="{{ path("cgg_conference_logout") }}"> Déconnexion</a>
                {% else %}
                    <a href="{{ path("cgg_conference_login") }}"> Connexion</a>
                    <a href="{{ path("cgg_conference_register") }}"> Inscription</a>
                {% endif %}
            </div>
        </div>
        {{ include("CGGConferenceBundle:Conference/Partials:menu.html.twig") }}
        <div class="container" id="container">
            {% block body %}{% endblock %}
        </div>
        <footer>
            <p>CGG Comférence © 2015 - <a href="#">Mentions légales</a> - <a href="#">Plan du site</a></p>
        </footer>
        {% javascripts
        '@CGGConferenceBundle/Resources/public/js/jquery/jquery-1.11.3.min.js'
        '@CGGConferenceBundle/Resources/public/js/bootstrap/*.js'
        output='js/script.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block js %}
        {% endblock %}
    </body>
</html>
