<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ conference.name }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% stylesheets '@CGGConferenceBundle/Resources/public/css/bootstrap/*.css' filter="cssrewrite" output='css/stylesheets.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
        {% endstylesheets %}
        {% stylesheets '@CGGConferenceBundle/Resources/public/css/siteConference/style.css' filter="cssrewrite" output='css/stylesheets.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
        {% endstylesheets %}
    </head>
    <body>
        <div class="jumbotron header-home">
            {% block headbandTitle %}
                {{ headband.title }}
            {% endblock %}
            {% block headbandText %}
                {{ headband.text }}
            {% endblock %}
        </div>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        {% for menuItem in menuItems %}
                            <span class="icon-bar"></span>
                        {% endfor %}
                    </button>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% for menuItem in menuItems %}
                            {% if menuItem.depth == 1 %}
                                <li class="first
                                    {% if (conference.id ~ "/" ~ menuItem.page.id) in app.request.uri %}
                                        active
                                    {% endif %}
                                ">
                            {% elseif menuItem.depth == menuItems|length %}
                                <li class="last
                                    {% if (conference.id ~ "/" ~ menuItem.page.id) in app.request.uri %}
                                        active
                                    {% endif %}
                                ">
                            {% else %}
                                <li
                                    {% if (conference.id ~ "/" ~ menuItem.page.id) in app.request.uri %}
                                        class="active"
                                    {% endif %}
                                >
                            {% endif %}

                            {% block menuItemTitle %}
                                {{ menuItem.title }}
                            {% endblock %}

                            </li>
                        {% endfor %}
                        {% block addMenuItem %}
                        {% endblock %}
                    </ul>

                </div>
            </div>
        </nav>
        <div class="container">
            {% for content in contents %}
                {% block contentText %}
                    {{ content.text }}
                {% endblock %}
            {% endfor %}
        </div>
        {% block body %}
        {% endblock %}
        <footer>
            {% block footerText %}
                {{ footer.text }}
            {% endblock %}
        </footer>
        {% block javascript %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
            {% javascripts '@CGGConferenceBundle/Resources/public/js/bootstrap/*.js' output='js/script.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
