<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ conference.name }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% stylesheets '@CGGConferenceBundle/Resources/public/css/bootstrap/*.css' filter="cssrewrite" output='css/stylesheets.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
        {% endstylesheets %}
        {% stylesheets '@CGGConferenceBundle/Resources/public/css/siteConference/style.css' filter="cssrewrite" output='css/stylesheets.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
        {% endstylesheets %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    </head>
    <body>
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
        <div class="jumbotron header-home">
            {% block headband %}
            <div class="container-edit-content">
                <input type="button" data-type="headBandTitle" class="btn btn-success btn-edit-content" value="%">
                {% block headbandTitle %}
                    {{ headband.title}}
                {% endblock %}
            </div>
            <div class="container-edit-content">
                <input type="button" data-type="headBandText" class="btn btn-success btn-edit-content" value="%">
                {% block headbandText %}
                    {{ headband.text }}
                {% endblock %}
            </div>
            {% endblock %}
        </div>      
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        {% for menuItem in menuItemsTable %}
                            <span class="icon-bar"></span>
                        {% endfor %}
                    </button>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% for menuItem in menuItemsTable %}
                            {#{% if menuItem.depth == 1 %}
                                <li class="first
                                    {% if (conference.id ~ "/" ~ menuItem.page.id) in app.request.uri %}
                                        active
                                    {% endif %}
                                ">
                            {% elseif menuItem.depth == menuItems|length %}
                                <li class="last
                                    {% if (conference.id ~ "/" ~ menuItem.page.id) in app.request.uri %}
                                        active
                                    {% endif %}
                                ">
                            {% else %}
                                <li
                                    {% if (conference.id ~ "/" ~ menuItem.page.id) in app.request.uri %}
                                        class="active"
                                    {% endif %}
                                >
                            {% endif %}#}
                            {% if menuItem.children is empty %}
                                <li>{{ menuItem.menuItem.title }}</li>
                            {% else %}
                                <li>{{ menuItem.menuItem.title }}
                                <ul>
                                    {% for menuItemChild in menuItem.children  %}
                                        <li>{{ menuItemChild.title }}</li>
                                    {% endfor %}
                                </ul>
                                </li>
                            {% endif %}
                            {#{% block menuItemTitle %}
                                {{ menuItem.title }}
                            {% endblock %}#}
                        {% endfor %}
                        {% block addMenuItem %}
                        {% endblock %}
                    </ul>

                </div>
            </div>
        </nav>
        <div class="container">
            {% for content in contents %}
                <div class="container-edit-content">
                    <input type="button" data-type="contentText" class="btn btn-success btn-edit-content" value="%">
                    {% block contentText %}
                        {{ content.text }}
                    {% endblock %}
                </div>
            {% endfor %}
        </div>
        {% block body %}
        {% endblock %}
        <footer class="container-edit-content">
            <input type="button" data-type="footerText" class="btn btn-success btn-edit-content" value="%">
            {% block footerText %}
                {{ footer.text }}
            {% endblock %}
        </footer>
        {% block javascript %}
            {% javascripts
                '@CGGConferenceBundle/Resources/public/js/jquery/jquery-1.11.3.min.js'
                '@CGGConferenceBundle/Resources/public/js/bootstrap/*.js'
                output='js/script.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@CGGConferenceBundle/Resources/public/js/colorpicker/*.js' output='js/script.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
