<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ conference.name }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% stylesheets '@CGGConferenceBundle/Resources/public/css/bootstrap/*.css' filter="cssrewrite" output='css/stylesheets.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
        {% endstylesheets %}
        {% stylesheets '@CGGConferenceBundle/Resources/public/css/siteConference/style.css' filter="cssrewrite" output='css/stylesheets.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
        {% endstylesheets %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        {% block style %}
            <style>
                .backgroundcolor{
                    background-color: {{ conference.mainColor }};
                }
                .color{
                    color: {{ conference.mainColor }};
                }
                .active{
                    background: {{ conference.secondaryColor }};
                }
                .navbar-inverse li:hover{
                    background: {{ conference.secondaryColor }};
                }
            </style>
        {% endblock style %}
    </head>
    <body>
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
        <div class="jumbotron header-home">
            <div class="container">
                <div class="row container-header">
                    <div class="col-md-4">
                        {% image '@CGGConferenceBundle/Resources/public/images/ReimsImage2014.png'  output="images/ReimsImage2014.png" %}
                        <img src="{{ asset_url }}"  alt="ReimsImage2014.png" class="img-responsive">
                        {% endimage %}
                    </div>
                    <div class="col-md-8">
                    {% block headband %}
                        {% block headbandTitle %}
                            {{ headband.title | raw}}
                        {% endblock %}
                        {% block headbandText %}
                            {{ headband.text | raw }}
                        {% endblock %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-inverse backgroundcolor">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        {% for menuItem in menuItems %}
                            <span class="icon-bar"></span>
                        {% endfor %}
                    </button>
                </div>
                {% block menu %}
                {% endblock %}
            </div>
        </nav>

        <div id="back-top"><i class="fa fa-arrow-circle-up color"></i></div>
        <div class="container">
            {% for content in contents %}
                {% block contentText %}
                    {{ content.text | raw }}
                {% endblock %}
            {% endfor %}
            {% block addContent %}
            {% endblock %}
        </div>
        {% block body %}
        {% endblock %}
        {% block footerText %}
            {{ footer.text | raw }}
        {% endblock %}
        {% block javascript %}
            {% javascripts
                '@CGGConferenceBundle/Resources/public/js/jquery/jquery-1.11.3.min.js'
                '@CGGConferenceBundle/Resources/public/js/jquery.js'
                '@CGGConferenceBundle/Resources/public/js/bootstrap/*.js'
                output='js/script.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@CGGConferenceBundle/Resources/public/js/colorpicker/*.js' output='js/script.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script>
                $(document).ready(function(){
                    var heightfooter = $("footer").height();
                    heightfooter = heightfooter +60;
                    $("body").css("margin-bottom",heightfooter+"px");
                    /* Scroll top */
                    $('#back-top').click(function () {
                        $('body,html').animate({scrollTop:0}, 800);
                        return false;
                    });
                    $(window).scroll(function(){
                        if($(document).scrollTop() > 400){
                            $("#back-top").fadeIn(500);
                        }else{
                            $("#back-top").fadeOut(400);
                        }
                    });
                });
            </script>
        {% endblock %}
    </body>
</html>
