<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{ conference.name }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% stylesheets '@CGGConferenceBundle/Resources/public/css/bootstrap/*.css' filter="cssrewrite" output='css/stylesheets.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
        {% endstylesheets %}
        {% stylesheets '@CGGConferenceBundle/Resources/public/css/siteConference/style.css' filter="cssrewrite" output='css/stylesheets.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
        {% endstylesheets %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        {% block style %}
            <style>
                .backgroundcolor{
                    background-color: {{ conference.mainColor }};
                }
                .color{
                    color: {{ conference.mainColor }};
                }
                .active{
                    background: {{ conference.secondaryColor }};
                }
                .navbar-inverse li:hover{
                    background: {{ conference.secondaryColor }};
                }
            </style>
        {% endblock style %}
    </head>
    <body>
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
        <div class="jumbotron header-home">
            {% block headband %}
                {% block headbandTitle %}
                    {{ headband.title | raw}}
                {% endblock %}
                {% block headbandText %}
                    {{ headband.text | raw }}
                {% endblock %}
            {% endblock %}
        </div>      
        <nav class="navbar navbar-inverse backgroundcolor">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        {% for menuItem in menuItemsTable %}
                            <span class="icon-bar"></span>
                        {% endfor %}
                    </button>
                </div>
                {% block menu %}
                {% endblock %}
                {#<div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% for menuItem in menuItemsTable %}
                            &#123;&#35;{% if menuItem.depth == 1 %}
                                <li class="first
                                    {% if (conference.id ~ "/" ~ menuItem.page.id) in app.request.uri %}
                                        active
                                    {% endif %}
                                ">
                            {% elseif menuItem.depth == menuItems|length %}
                                <li class="last
                                    {% if (conference.id ~ "/" ~ menuItem.page.id) in app.request.uri %}
                                        active
                                    {% endif %}
                                ">
                            {% else %}
                                <li
                                    {% if (conference.id ~ "/" ~ menuItem.page.id) in app.request.uri %}
                                        class="active"
                                    {% endif %}
                                >
                            {% endif %}&#35;&#125;
                            {% if menuItem.children is empty %}
                                <li>{{ menuItem.menuItem.title }}</li>
                            {% else %}
                                <li>{{ menuItem.menuItem.title }}
                                <ul>
                                    {% for menuItemChild in menuItem.children  %}
                                        <li>{{ menuItemChild.title }}</li>
                                    {% endfor %}
                                </ul>
                                </li>
                            {% endif %}
                            &#123;&#35;{% block menuItemTitle %}
                                {{ menuItem.title }}
                            {% endblock %}&#35;&#125;
                        {% endfor %}
                        {% block addMenuItem %}
                        {% endblock %}
                    </ul>

                </div>#}
            </div>
        </nav>
        <div class="container">
            {% for content in contents %}
                    {% block contentText %}
                        {{ content.text | raw }}
                    {% endblock %}
            {% endfor %}
        </div>
        {% block body %}
        {% endblock %}
            {% block footerText %}
                {{ footer.text | raw }}
            {% endblock %}
        {% block javascript %}
            {% javascripts
                '@CGGConferenceBundle/Resources/public/js/jquery/jquery-1.11.3.min.js'
                '@CGGConferenceBundle/Resources/public/js/jquery.js'
                '@CGGConferenceBundle/Resources/public/js/bootstrap/*.js'
                output='js/script.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            {% javascripts '@CGGConferenceBundle/Resources/public/js/colorpicker/*.js' output='js/script.js' %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
