{% if(conferenceList == null) %}
    <div class="panel panel-default">
        <div class="panel-heading">Aucune conférence n'a été créée</div>
        <div class="panel-body">
            <p>N'attendez plus pour créer votre conférence</p>
            <a href="{{ path("cgg_conference_createConference") }}" class="btn btn-primary">Créer ma conférence</a>
        </div>
    </div>
    {% else %}
        {% for conference in conferenceList %}
            <div class="panel panel-default">
                <div class="panel-heading">{{ conference.name }} : {{ conference.startDate|date('d/m/Y') }} - {{ conference.endDate|date('d/m/Y') }}</div>
                <div class="panel-body">
                    <p>
                        {{ conference.description | raw }}
                    </p>
                    <a href="{{ path('cgg_conference_detailConference', {'idConference': conference.id, 'idPage': conference.homePage.id}) }}" target="_blank" class="btn btn-primary">
                        <i class="fa fa-arrow-circle-o-right"></i> Accéder au site
                    </a>
                    <a href="{{ path('cgg_conference_request_take_part_conference', {'idConference': conference.id}) }}" class="btn btn-primary">Demander à participer</a>
                    {% if is_granted('EDIT', conference) %}
                        <a href="{{ path('cgg_conference_adminConference', {'idConference': conference.id, 'idPage': conference.homePage.id}) }}" class="btn btn-primary">
                            <i class="fa fa-cogs"></i> Administration
                        </a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('cgg_conference_delete_conference', {'idConference': conference.id}) }}" class="btn btn-primary">
                            <i class="fa fa-times"></i> Supprimer
                        </a>
                    {% endif %}
                    <a href="{{ path('cgg_image_competition',{'idConference': conference.id}) }}" class="btn btn-primary">
                        <i class="fa fa-picture-o"></i> Accéder à la compétition d'image
                    </a>
                </div>
            </div>
        {% endfor %}
{% endif %}