<h2>Demande de création d'une conférence</h2>
{{ form_start(form) }}
{{ form_errors(form) }}
<div class="form-group">
    {{ form_label(form.name, 'Nom de la conférence :', { 'attr' : { 'class' : 'control_label'}}) }}
    {{ form_errors(form.name) }}
    {{ form_widget(form.name, { 'attr' : { 'class' : 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.startDate, 'Date de début de la conférence :', { 'attr' : { 'class' : 'control_label'}}) }}
    {{ form_errors(form.startDate) }}
    {{ form_widget(form.startDate, { 'attr' : { 'class' : 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.endDate, 'Date de fin de la conférence :', { 'attr' : { 'class' : 'control_label'}}) }}
    {{ form_errors(form.endDate) }}
    {{ form_widget(form.endDate, { 'attr' : { 'class' : 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.description, 'Description de la conférence :', { 'attr' : { 'class' : 'control_label'}}) }}
    {{ form_errors(form.description) }}
    {{ form_widget(form.description, { 'attr' : { 'class' : 'form-control'}}) }}
</div>
<div class="form-group t_center">
    {{  form_widget(form.send, {'attr':{'class' :'btn btn-primary'}}) }}
    {{  form_rest(form) }}
</div>
{{ form_end(form) }}