{% if(conferenceList == null) %}
    <div class="panel panel-default">
        <div class="panel-heading">Aucune conférence à valider</div>
        <div class="panel-body">
            <p>Toutes les conférences sont déjà validées</p>
        </div>
    </div>
{% else %}
    {% for conference in conferenceList %}
        <div class="panel panel-default">
            <div class="panel-heading">{{ conference.name }} : {{ conference.startDate|date('d/m/Y') }} - {{ conference.endDate|date('d/m/Y') }}</div>
            <div class="panel-body">
                <p>
                    {{ conference.description | raw }}
                </p>
                <a href="{{ path("cgg_conference_validConference",{"idConference":conference.id}) }}" class="btn btn-primary"><i class="fa fa-check"></i> Valider</a>
                <a href="{{ path("cgg_conference_declineConference",{"idConference":conference.id}) }}" class="btn btn-primary"><i class="fa fa-times"></i> Décliner</a>
            </div>
        </div>
    {% endfor %}
{% endif %}