<p>{{ username }} demande à créer un conférence.</p>
<p>Informations sur la conférence :</p>
<p>Titre : {{ conferenceTitle }}<br/>
Description : {{ conferenceDescription }}<br/>
Date de début : {{ conferenceStartDate }}<br/>
Date de fin : {{ conferenceEndDate }}</p>
<p> Informations sur l'utilisateur :</p>
<p>Nom : {{ username }}<br/>
Email : {{ userEmail }}</p>
<p>Pour valider ou refuser cette conférence, suivez le lien ci-dessous :</p>
<a href="http://cggconference/app_dev.php/liste-nouvelle-conferences">Administration</a>