{% extends "::conferenceBase.html.twig" %}
{% block headband %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-lg reglage" data-toggle="modal" data-target="#myModal">
        <i class="fa fa-cogs"></i> Réglage de votre site
    </button>
    {% block headbandTitle %}
        <h1 contenteditable="true" id="headbandTitle">{{ parent() }}</h1>
        <button id="saveChangeHeadband" class="btn btn-success"><i class="fa fa-floppy-o"></i></button>
    {% endblock %}

    {% block headbandText %}
        <span contenteditable="true" id="headbandText">{{ parent() }}</span>
    {% endblock %}
{% endblock %}

{#{% block menuItemTitle %}
    <button id="menuItemTitle{{ loop.index }}" data-pageId="{{ menuItem.page.id }}" data-menuItemId="{{ menuItem.id }}" class="btn btn-primary">
        {{ parent() }}
    </button>
{% endblock %}

{% block addMenuItem %}
    <li><a href="{{ path('cgg_conference_admin_addMenuItem', {'idConference':conference.id}) }}"><i class="fa fa-plus-square"></i></a></li>
{% endblock %}#}
{% block menu %}
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            {% for menuItem in menuItemsTable %}
                {% if menuItem.children is empty %}
                    <li id="menuItemTitle{{ loop.index }}" data-pageId="{{ menuItem.menuItem.page.id }}"
                        data-menuItemId="{{ menuItem.menuItem.id }}" class="btn">
                        {{ menuItem.menuItem.title }}
                    </li>
                {% else %}
                    <li class="btn">
                        {{ menuItem.menuItem.title }}
                    <ul class="backgroundcolor">
                        {% for menuItemChild in menuItem.children  %}
                            <li id="menuItemTitle{{ loop.index }}" data-pageId="{{ menuItem.menuItem.page.id }}"
                                data-menuItemId="{{ menuItem.menuItem.id }}" class="btn">
                                {{ menuItemChild.title }}
                            </li>
                        {% endfor %}
                    </ul>
                    </li>
                {% endif %}
            {% endfor %}
            {% block addMenuItem %}
            {% endblock %}
        </ul>
    </div>
{% endblock %}
{% block contentText %}
    <div contenteditable="true" id="content{{ loop.index }}">
        {{ parent() }}
    </div>
{% endblock %}

{% block footerText %}
    <p contenteditable="true" id="footerText">{{ parent() }}</p>
{% endblock %}

{% block body %}
    <!-- inputs cachés -->
    <input type="hidden" id="idConference" value="{{ conference.id }}">
    <input type="hidden" id="idPage" value="{{ app.request.get('idPage') }}">
    <!-- fin inputs cachés -->
    {% include 'CGGConferenceBundle:Admin/Partials:headerModal.html.twig' %}
    <button class="btn btn-success" id="saveChangesAdminConference">Valider les changements</button>
    <div id="menuItemOptions" class="hidden" style="background-color: #269abc; padding: 10px 10px;">
        <a href="" id="pagePath" class="btn btn-success">
            <i class="fa fa-arrow-circle-o-right"></i>
        </a>
        <button id="editMenuItem" class="btn btn-primary">
            <i class="fa fa-pencil-square-o"></i>
        </button>
        <button id="addSubItem" class="btn btn-default" data-menuItemId="">
            <i class="fa fa-plus-circle"></i>
        </button>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% javascripts '@CGGConferenceBundle/Resources/public/js/admin.js' %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type='text/javascript' src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

