{% extends "::conferenceBase.html.twig" %}

{% block imageHeader %}
    <div class="container-edit-content">
        <i id="editImageHeader" class="btn-edit-content-image fa fa-pencil fa-2x"></i>
        {{ parent() }}
    </div>
{% endblock %}

{% block headband %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-lg reglage" data-toggle="modal" data-target="#myModal">
        <i class="fa fa-cogs"></i> Réglage de votre site
    </button>
    {% block headbandTitle %}
        <div class="container-edit-content">
            <i id="headBandTitle" class="fa fa-pencil fa-2x btn-edit-content "></i>
            <span id="headbandTitle2">{{ parent() }}</span>
        </div>
    {% endblock %}

    {% block headbandText %}
        <div class="container-edit-content">
            <i id="headBandText" class="fa fa-pencil fa-2x btn-edit-content"></i>
            <span id="headbandText2">{{ parent() }}</span>
        </div>
    {% endblock %}
{% endblock %}

{% block menu %}
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            {% for menuItem in menuItems %}
                {% if menuItem.children is null %}
                    <li id="menuItemTitle{{ loop.index }}" data-pageId="{{ menuItem.page.id }}"
                        data-menuItemId="{{ menuItem.id }}" class="btn menu-edit-content" data-toggle="modal" data-target="#menuItemModal">
                        <span class="spanMenuItem" id="spanMenuItem{{ menuItem.id }}">{{ menuItem.title }}</span>
                    </li>
                {% else %}
                    <li id="menuItemTitle{{ loop.index }}" data-pageId="{{ menuItem.page.id }}"
                        data-menuItemId="{{ menuItem.id }}" class="btn menu-edit-content dropdown" data-toggle="modal" data-target="#menuItemModal">
                        <span class="spanMenuItem" id="spanMenuItem{{ menuItem.page.id }}">{{ menuItem.title }}</span>
                        <ul class="backgroundcolor dropdown-toggle" data-toggle="dropdown">
                            {% for menuItemChild in menuItem.children  %}
                                <li id="menuItemTitle{{ loop.index }}" data-pageId="{{ menuItem.page.id }}"
                                    data-menuItemId="{{ menuItem.id }}" class="btn menu-edit-content dropdown-submenu" data-toggle="modal" data-target="#menuItemModal">
                                    <span class="spanMenuItem" id="spanMenuItem{{ menuItemChild.id }}">{{ menuItemChild.title }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
            {% block addMenuItem %}
            {% endblock %}
            <li>
                <a href="{{ path('cgg_conference_admin_addMenuItem', {'idConference':conference.id}) }}">
                    <i class="fa fa-plus-square"></i>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block contentText %}
    {% if( isContact == 0) %}
        <div class="container-edit-content">
            <i id="contentText" class="btn-edit-content fa fa-pencil fa-2x"></i>
            <i id="deleteContent{{ content.id }}" class="btn-delete-content fa fa-close fa-2x"></i>
            <div id="content{{ content.id }}">
                {{ parent() }}
            </div>
        </div>
    {% else %}
        <div id="content{{ content.id }}">
            {{ parent() }}
        </div>
    {% endif %}
{% endblock %}

{% block addContent %}
    {% if( isContact == 0 ) %}
        <i id="addContentButton" class="fa fa-plus-square fa-2x"></i>
    {% endif %}
{% endblock %}
{% block footerText %}
    <footer class="container-edit-content backgroundcolor">
        <i id="footerText" class="fa fa-pencil fa-2x btn-edit-content "></i>
        <p id="footerText2">{{ parent() }}</p>
    </footer>
{% endblock %}

{% block body %}
    <!-- inputs cachés -->
    <input type="hidden" id="idConference" value="{{ conference.id }}">
    <input type="hidden" id="idPage" value="{{ app.request.get('idPage') }}">
    <!-- fin inputs cachés -->
    {% include 'CGGConferenceBundle:Admin/Partials:headerModal.html.twig' %}
    {% include 'CGGConferenceBundle:Admin/Partials:editModal.html.twig' %}
    {% include 'CGGConferenceBundle:Admin/Partials:menuItemModal.html.twig' %}
    {% include 'CGGConferenceBundle:Admin/Partials:imageModal.html.twig' %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% javascripts '@CGGConferenceBundle/Resources/public/js/admin.js' '@CGGConferenceBundle/Resources/public/js/ckeditor/ckeditor.js' %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type='text/javascript' src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

