{% extends "::conferenceBase.html.twig" %}

{% block imageHeader %}
    <div class="container-edit-content">
        <i id="editImageHeader" class="btn-edit-content-image fa fa-pencil fa-2x"></i>
        {{ parent() }}
    </div>
{% endblock %}

{% block headband %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-lg reglage" data-toggle="modal" data-target="#myModal">
        <i class="fa fa-cogs"></i> Réglage de votre site
    </button>
    {% block headbandTitle %}
        <div class="container-edit-content">
            <i id="headBandTitle" class="fa fa-pencil fa-2x btn-edit-content "></i>
            <span id="headbandTitle2">{{ parent() }}</span>
        </div>
    {% endblock %}

    {% block headbandText %}
        <div class="container-edit-content">
            <i id="headBandText" class="fa fa-pencil fa-2x btn-edit-content"></i>
            <span id="headbandText2">{{ parent() }}</span>
        </div>
    {% endblock %}
{% endblock %}

{% block menu %}
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            {% for menuItem in menuItems %}
                {% if menuItem.children is null %}
                    {% if menuItem.depth == 1 %}
                        <li id="menuItemTitle{{ loop.index }}" data-pageId="{{ menuItem.page.id }}"
                            data-menuItemId="{{ menuItem.id }}" data-toggle="modal" data-target="#menuItemModal" class="menu-edit-content btn first
                                {% if (conference.id ~ "/" ~ menuItem.page.id) in app.request.uri %}
                                    active
                                {% endif %}
                        ">
                    {% elseif menuItem.depth == menuItems|length %}
                        <li id="menuItemTitle{{ loop.index }}" data-pageId="{{ menuItem.page.id }}"
                            data-menuItemId="{{ menuItem.id }}" data-toggle="modal" data-target="#menuItemModal" class="menu-edit-content btn last
                                {% if (conference.id ~ "/" ~ menuItem.page.id) in app.request.uri %}
                                    active
                                {% endif %}
                        ">
                    {% else %}
                        <li id="menuItemTitle{{ loop.index }}" data-pageId="{{ menuItem.page.id }}"
                            data-menuItemId="{{ menuItem.id }}" data-toggle="modal" data-target="#menuItemModal" class="menu-edit-content btn
                                {% if (conference.id ~ "/" ~ menuItem.page.id) in app.request.uri %}
                                    active
                                {% endif %}
                        ">
                    {% endif %}
                        {{ menuItem.title }}
                    </li>
                {% else %}
                    {% if menuItem.depth == 1 %}
                        <li id="menuItemTitle{{ loop.index }}" data-pageId="{{ menuItem.page.id }}"
                            data-menuItemId="{{ menuItem.id }}" data-toggle="modal" data-target="#menuItemModal" class="menu-edit-content btn first
                                {% if (conference.id ~ "/" ~ menuItem.page.id) in app.request.uri %}
                                    active
                                {% endif %}
                        ">
                    {% elseif menuItem.depth == menuItems|length %}
                        <li id="menuItemTitle{{ loop.index }}" data-pageId="{{ menuItem.page.id }}"
                            data-menuItemId="{{ menuItem.id }}" data-toggle="modal" data-target="#menuItemModal" class="menu-edit-content btn last
                                {% if (conference.id ~ "/" ~ menuItem.page.id) in app.request.uri %}
                                    active
                                {% endif %}
                        ">
                    {% else %}
                        <li id="menuItemTitle{{ loop.index }}" data-pageId="{{ menuItem.page.id }}"
                            data-menuItemId="{{ menuItem.id }}" data-toggle="modal" data-target="#menuItemModal" class="menu-edit-content btn
                                {% if (conference.id ~ "/" ~ menuItem.page.id) in app.request.uri %}
                                    active
                                {% endif %}
                        ">
                    {% endif %}
                    {{ menuItem.title }}
                        <ul class="backgroundcolor">
                            {% for menuItemChild in menuItem.children  %}
                                {% if menuItem.depth == 1 %}
                                <li id="menuItemTitle{{ loop.index }}" data-pageId="{{ menuItem.page.id }}"
                                    data-menuItemId="{{ menuItem.id }}" data-toggle="modal" data-target="#menuItemModal" class="menu-edit-content btn first
                                        {% if (conference.id ~ "/" ~ menuItem.page.id) in app.request.uri %}
                                            active
                                        {% endif %}
                                ">
                                {% elseif menuItem.depth == menuItems|length %}
                                    <li id="menuItemTitle{{ loop.index }}" data-pageId="{{ menuItem.page.id }}"
                                        data-menuItemId="{{ menuItem.id }}" data-toggle="modal" data-target="#menuItemModal" class="menu-edit-content btn last
                                        {% if (conference.id ~ "/" ~ menuItem.page.id) in app.request.uri %}
                                            active
                                        {% endif %}
                                    ">
                                {% else %}
                                    <li id="menuItemTitle{{ loop.index }}" data-pageId="{{ menuItem.page.id }}"
                                        data-menuItemId="{{ menuItem.id }}" data-toggle="modal" data-target="#menuItemModal" class="menu-edit-content btn
                                        {% if (conference.id ~ "/" ~ menuItem.page.id) in app.request.uri %}
                                            active
                                        {% endif %}
                                    ">
                                {% endif %}
                                {{ menuItemChild.title }}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
            {% block addMenuItem %}
            {% endblock %}
            <li class="btn">
                <a href="{{ path('cgg_conference_admin_addMenuItem', {'idConference':conference.id}) }}">
                    <i class="fa fa-plus-square"></i>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block contentText %}
    {% if( isContact == 0) %}
        <div class="container-edit-content">
            <i id="contentText" class="btn-edit-content fa fa-pencil fa-2x"></i>
            <i id="deleteContent{{ content.id }}" class="btn-delete-content fa fa-close fa-2x"></i>
            <div id="content{{ content.id }}">
                {{ parent() }}
            </div>
        </div>
    {% else %}
        <div id="content{{ content.id }}">
            {{ parent() }}
        </div>
    {% endif %}
{% endblock %}

{% block addContent %}
    {% if( isContact == 0 ) %}
        <i id="addContentButton" class="fa fa-plus-square fa-2x"></i>
    {% endif %}
{% endblock %}
{% block footerText %}
    <footer class="container-edit-content backgroundcolor">
        <i id="footerText" class="fa fa-pencil fa-2x btn-edit-content "></i>
        <p id="footerText2">{{ parent() }}</p>
    </footer>
{% endblock %}

{% block body %}
    <!-- inputs cachés -->
    <input type="hidden" id="idConference" value="{{ conference.id }}">
    <input type="hidden" id="idPage" value="{{ app.request.get('idPage') }}">
    <!-- fin inputs cachés -->
    {% include 'CGGConferenceBundle:Admin/Partials:headerModal.html.twig' %}
    {% include 'CGGConferenceBundle:Admin/Partials:editModal.html.twig' %}
    {% include 'CGGConferenceBundle:Admin/Partials:menuItemModal.html.twig' %}
    {% include 'CGGConferenceBundle:Admin/Partials:imageModal.html.twig' %}
    <div id="menuItemOptions" class="hidden" style="background-color: #269abc; padding: 10px 10px;">
        <a href="" id="pagePath" class="btn btn-success">
            <i class="fa fa-arrow-circle-o-right"></i>
        </a>
        <button id="editMenuItem" class="btn btn-primary">
            <i class="fa fa-pencil-square-o"></i>
        </button>
        <button id="addSubItem" class="btn btn-default" data-menuItemId="">
            <i class="fa fa-plus-circle"></i>
        </button>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% javascripts '@CGGConferenceBundle/Resources/public/js/admin.js' '@CGGConferenceBundle/Resources/public/js/ckeditor/ckeditor.js' %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type='text/javascript' src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

