{% extends "::conferenceBase.html.twig" %}
{% block headband %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        WTF
    </button>
    {% block headbandTitle %}
        <div class="container-edit-content">
            <i id="headBandTitle" class="btn-edit-content fa fa-pencil fa-2x"></i>
            <h1 id="headbandTitle">{{ parent() }}</h1>
            <button id="saveChangeHeadband" class="btn btn-success">Sauvegarder Header</button>
        </div>
    {% endblock %}

    {% block headbandText %}
        <div class="container-edit-content">
            <i id="headBandText" class="btn-edit-content fa fa-pencil fa-2x"></i>
            <span id="headbandText">{{ parent() }}</span>
        </div>
    {% endblock %}
{% endblock %}

{% block menuItemTitle %}
    <button id="menuItemTitle{{ loop.index }}" data-pageId="{{ menuItem.page.id }}" class="btn btn-primary">
        {{ parent() }}
    </button>
{% endblock %}

{% block addMenuItem %}
    <li><a href="{{ path('cgg_conference_admin_addMenuItem', {'idConference':conference.id}) }}"><i class="fa fa-plus-square"></i></a></li>
{% endblock %}

{% block contentText %}
    <div class="container-edit-content">
        <i id="contentText" class="btn-edit-content fa fa-pencil fa-2x"></i>
        <div id="content{{ loop.index }}">
            {{ parent() }}
        </div>
    </div>
{% endblock %}

{% block footerText %}
    <footer class="container-edit-content">
        <i id="footerText" class="btn-edit-content fa fa-pencil fa-2x"></i>
        <p id="footerText">{{ parent() }}</p>
    </footer
{% endblock %}

{% block body %}
    <!-- inputs cachés -->
    <input type="hidden" id="idConference" value="{{ conference.id }}">
    <input type="hidden" id="idPage" value="{{ app.request.get('idPage') }}">
    <!-- fin inputs cachés -->
    {% include 'CGGConferenceBundle:Admin/Partials:headerModal.html.twig' %}
    {% include 'CGGConferenceBundle:Admin/Partials:editModal.html.twig' %}
    <button class="btn btn-success" id="saveChangesAdminConference">Valider les changements</button>
    <div id="menuItemOptions" class="hidden" style="background-color: #269abc; padding: 10px 10px;">
        <a href="" id="pagePath" class="btn btn-success">
            <i class="fa fa-arrow-circle-o-right"></i>
        </a>
        <button id="editMenuItem" class="btn btn-primary">
            <i class="fa fa-pencil-square-o"></i>
        </button>
        <a href=" href="{{ path('cgg_conference_admin_addMenuItem', {'idConference':conference.id}) }}" class="btn btn-default">
            <i class="fa fa-plus-circle"></i>
        </a>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% javascripts '@CGGConferenceBundle/Resources/public/js/admin.js' '@CGGConferenceBundle/Resources/public/js/ckeditor/ckeditor.js' %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type='text/javascript' src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function(){

            $("#btnAddPages").on('click', function(){
                $("#addPages").removeClass('hidden');
            });

            $("#addInput").on('click', function(){
                var lastDiv = $("#addPages form div:last");
                lastDiv.after("<div class='form-group'>" + lastDiv.html() + "</div>");
                if($("#removeInput").hasClass('disabled')){
                    $("#removeInput").removeClass('disabled');
                }
            })

            $("#removeInput").on('click', function(){
                var countInput = $("#addPages form div").length;
                if(countInput === 3){
                    $("#removeInput").addClass('disabled');
                }
                $("#addPages form div:last").remove();
            });

            $("#btnUpdateBackground").on('click', function(){
                $("#updateBackground").removeClass('hidden');
            });

            $('.demo-auto').colorpicker();

            $("#saveChangeHeadband").on('click', function(){
                var url="{{ path('cgg_conference_admin_saveChangeContent')}}";
                $.ajax({
                    type: "POST",
                    url: url,
                    data: {
                        'idConference': $("#idConference").val(),
                        'idPage': $("#idPage").val(),
                        'content': $("#headbandTitle").text(),
                    },
                    dataType: "html",
                    success:function() {
                        window.location.reload();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);
                    }
                });
            });
        });
    </script>
{% endblock %}

