{% extends "::conferenceBase.html.twig" %}

{% block headbandTitle %}
    <h1 contenteditable="true" id="headbandTitle">{{ parent() }}</h1>
{% endblock %}

{% block headbandText %}
    <span contenteditable="true" id="headbandText">{{ parent() }}</span>
{% endblock %}

{% block menuItemTitle %}
    <a contenteditable="true" href="/" id="menuItemTitle{{ loop.index }}">{{ parent() }}</a>
{% endblock %}

{% block contentText %}
    <div contenteditable="true" id="content{{ loop.index }}">
        {{ parent() }}
    </div>
{% endblock %}

{% block footerText %}
    <p contenteditable="true" id="footerText">{{ parent() }}</p>
{% endblock %}

{% block body %}
    <button class="btn btn-success" id="saveChangesAdminConference">Valider les changements</button>
{% endblock %}
{#TODO : intégrer le js dans admin.js (problème avec le routing => fosjsrouting)#}
{% block javascript %}
    {{ parent() }}
    {#{% javascripts '@CGGConferenceBundle/Resources/public/js/admin.js' %}
        <script type='text/javascript' src="{{ asset_url }}"></script>
    {% endjavascripts %}#}
    <script>
        $(document).ready(function(){
            $("#saveChangesAdminConference").click(function (){
                var data = [];
                var nbMenuItemTitle = $(".navbar-nav a").length;
                var nbContent = $(".container div").length;
                for(var i=1; i<=nbMenuItemTitle ; i++){
                    data.push({name: 'menuItemTitle'+i, value:$("#menuItemTitle"+i).text()});
                }
                for(i=1; i<=nbContent; i++){
                    data.push({name: 'content'+i, value: $("#content"+i).text()});
                }
                data.push({name: 'headbandTitle', value: $('#headbandTitle').text()});
                data.push({name: 'headbandText', value: $('#headbandText').text()});
                data.push({name: 'footerText', value: $('#footerText').text()});
                $.ajax({
                    type: "POST",
                    url: "{{ path('cgg_conference_admin_saveChangesConference', {'idConference':conference.id, 'idPage': conference.homePage.id}) }}",
                    data: data,
                    dataType: 'html',
                    success: function(data){

                    }
                });
            });
        });
    </script>
{% endblock %}

