{% extends "::conferenceBase.html.twig" %}

{% block headbandTitle %}
    <h1>{{ parent() }}</h1>
{% endblock %}

{% block headbandText %}
    <span>{{ parent() }}</span>
{% endblock %}

{% block menuItemTitle %}
    <a href="/">{{ parent() }}</a>
{% endblock %}

{% block contentText %}
    <div>
        {{ parent() }}
    </div>
{% endblock %}

{% block footerText %}
    <p>{{ parent() }}</p>
{% endblock %}

