{% extends "::conferenceBase.html.twig" %}

{% block headbandTitle %}
    <h1>{{ parent() }}</h1>
{% endblock %}

{% block headbandText %}
    <span>{{ parent() }}</span>
{% endblock %}

{% block menu %}
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            {% for menuItem in menuItems %}
                {% if menuItem.children is null %}
                    <li class="btn">
                        {{ menuItem.title }}
                    </li>
                {% else %}
                    <li id="menuItemTitle{{ loop.index }}" class="btn dropdown">
                        {{ menuItemChild.title }}
                        <ul class="backgroundcolor">
                            {% for menuItemChild in menuItem.children  %}
                                <li id="menuItemTitle{{ loop.index }}" class="btn">
                                    {{ menuItemChild.title }}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
            {% block addMenuItem %}
            {% endblock %}
        </ul>
    </div>
{% endblock %}

{% block contentText %}
    <div>
        {{ parent() }}
    </div>
{% endblock %}

{% block footerText %}
    <footer class="backgroundcolor">
        <p>{{ parent() }}</p>
    </footer>
{% endblock %}

